@import "../styles/variables";

nav {
  border-bottom: 1px solid $off-white-color;

  .logo_container {
    padding-top: 20px;
    padding-bottom: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    .etnetera_logo {
      width: 15px;
      margin-right: 5px;

      @media screen and(min-width: 744px) {
      }
    }

    .logo_text {
      font-size: 15px;

      @media screen and(min-width: 744px) {
        font-size: 18px;
      }

      @media screen and(min-width: 1440px) {
        font-size: 20px;
      }
    }

    @media screen and(min-width: 744px) {
      margin-left: 40px;
      margin-right: 40px;
    }

    @media screen and(min-width: 1440px) {
      margin-left: 140px;
      margin-right: 140px;
    }
  }
}
